*.pyc
reddit_data
reddit_post_images
narration_test
narrations
final_vids
sludge_videos
__pycache__
temp
data/post_usage_history.txt
data/youtube_post_history.txt
src/youtube/token.json
src/youtube/client_secret.json
.claude
tests/debug_page.html
selenium_profile/
src/scraper/html_examples/
src/metadata/benchmark_results.json
src/metadata/benchmark_guide.md
src/metadata/fine_tuner_results.json
src/metadata/post_scoring_results.json
tests/test_static_reddit_post.png
tests/test_narration.wav
tests/test_final_vid.mp4
tests/test_final_vid_metadata.json
