*.pyc
reddit_data
reddit_post_images
narration_test
narrations
final_vids
sludge_videos
__pycache__
temp
data/post_usage_history.csv
data/youtube_post_history.csv
src/youtube/token.json
src/youtube/client_secret.json
.claude